@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
body {
  font-family: "League Spartan", sans-serif;
  margin: auto;
  padding: 0;
  width: 80%;
  box-sizing: border-box;
}

section.upper {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}
section.upper .upper-left h1 {
  margin: 0;
  color: hsl(300deg, 43%, 22%);
  font-size: 3.5rem;
  font-weight: bolder;
  max-width: 30rem;
}
section.upper .upper-left p {
  color: hsl(303deg, 10%, 53%);
  max-width: 25rem;
  font-size: 1rem;
  line-height: 20px;
}
section.upper .upper-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 50%;
}
section.upper .upper-right img {
  width: 12%;
  padding-right: 2px;
}
section.upper .upper-right .ratings-report-one {
  background-color: hsl(300deg, 24%, 96%);
  color: hsl(300deg, 43%, 22%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  max-height: 19%;
  width: 80%;
}
section.upper .upper-right .ratings-report-two {
  background-color: hsl(300deg, 24%, 96%);
  color: hsl(300deg, 43%, 22%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-height: 19%;
  width: 80%;
}
section.upper .upper-right .ratings-report-three {
  background-color: hsl(300deg, 24%, 96%);
  color: hsl(300deg, 43%, 22%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  border-radius: 4px;
  max-height: 19%;
  width: 80%;
}

section.lower {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  min-height: 40vh;
}
section.lower .customer-box {
  padding: 1.5em 0.5em 0.5em 1em;
}
section.lower .customer-one {
  background-color: hsl(300deg, 43%, 22%);
  border-radius: 10px;
  width: 32%;
  min-height: 35vh;
  margin-bottom: auto;
}
section.lower .customer-two {
  background-color: hsl(300deg, 43%, 22%);
  border-radius: 10px;
  width: 32%;
  min-height: 35vh;
  margin-top: auto;
  margin-bottom: auto;
}
section.lower .customer-three {
  background-color: hsl(300deg, 43%, 22%);
  border-radius: 10px;
  width: 32%;
  min-height: 35vh;
  margin-top: auto;
}
section.lower .identity {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
section.lower .identity img {
  border-radius: 7em;
  width: 3rem;
}
section.lower .identity .person {
  line-height: 16px;
}
section.lower .identity .person p.name {
  margin: 0;
  color: hsl(0deg, 0%, 100%);
  font-weight: lighter;
  font-size: 14px;
}
section.lower .identity .person p.verified {
  margin: 0;
  color: hsla(333deg, 80%, 67%, 0.8);
  font-size: 13px;
}
section.lower p.review {
  padding: 0;
  margin: 0;
  max-width: 19rem;
  text-align: left;
  color: hsl(300deg, 24%, 96%);
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  font-weight: 200;
}

@media (max-width: 1100px) {
  body .upper-left h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
  }
  body .upper-left h1 p {
    font-size: 1px !important;
  }
  body .upper-right {
    gap: 10px !important;
    align-items: flex-end;
  }
  body .upper-right .ratings-report-two {
    margin-right: 0 !important;
  }
  body .upper-right .ratings-report-three {
    margin-left: auto;
  }
  body section.lower {
    height: 35%;
  }
  body section.lower img {
    min-width: 22% !important;
  }
  body section.lower .customer-one {
    margin-top: 0 !important;
    -height: 100%;
  }
  body section.lower .customer-two {
    margin-top: 0 !important;
    -height: 100%;
  }
  body section.lower .customer-three {
    margin-top: 0 !important;
    -height: 100%;
  }
}
@media (max-width: 630px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  body section.upper {
    display: flex;
    flex-direction: column !important;
  }
  body section.upper .upper-left {
    align-self: center;
  }
  body section.upper .upper-left h1 {
    text-align: center;
    max-width: 20rem;
  }
  body section.upper .upper-left p {
    text-align: center;
    max-width: 20rem;
  }
  body section.upper .upper-right {
    align-items: center;
  }
  body section.upper .upper-right .reports {
    margin: 0;
  }
  body section.upper .upper-right .ratings-report-one {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 65%;
    min-height: 9vh;
  }
  body section.upper .upper-right .ratings-report-two {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 65%;
    min-height: 9vh;
  }
  body section.upper .upper-right .ratings-report-three {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    min-height: 9vh;
    max-width: 65%;
  }
  body section.lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  body section.lower img {
    min-width: 3rem !important;
  }
  body section.lower .customer-one {
    min-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  body section.lower .customer-two {
    min-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  body section.lower .customer-three {
    min-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 400px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  body section.upper {
    display: flex;
    flex-direction: column !important;
  }
  body section.upper .upper-left {
    align-self: center;
  }
  body section.upper .upper-left h1 {
    text-align: center;
    max-width: 20rem;
  }
  body section.upper .upper-left p {
    text-align: center;
    max-width: 18rem;
  }
  body section.upper .upper-right {
    align-items: center;
  }
  body section.upper .upper-right .reports {
    margin: 0;
  }
  body section.upper .upper-right .ratings-report-one {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    min-height: 9vh;
  }
  body section.upper .upper-right .ratings-report-two {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 100%;
    min-height: 9vh;
  }
  body section.upper .upper-right .ratings-report-three {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    min-height: 9vh;
    max-width: 100%;
  }
  body section.lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  body section.lower img {
    min-width: 3rem !important;
  }
  body section.lower .customer-one {
    min-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  body section.lower .customer-two {
    min-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  body section.lower .customer-three {
    min-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=styles.css.map */